/* Ընդհանուր */
*{
    box-sizing: border-box;
   
}
 .section{
    margin: 0 auto;
    width: 1245px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
} 
.title{
    font-size: 27px;
    margin:0 5px;
}
.text{
    margin: 5px 10px;
    font-size: 15px;
    text-align: justify;
}





.div{
    display: flex;
}
.bigdiv{
    background-color: azure;
    border: 1px solid gray;
    margin:  5px 5px;
    height: 550px;
}
.marvellogo{
    width: 610px;
    height: auto;
}





.marvel{
    width: 299px;
    height: auto; 
}
.smalldiv{
    background-color: azure;
    border: 1px solid gray;
    margin: 5px 5px;
    height: 550px;
}

.oo{
    font-size: 27px;
    margin:0 0 0 95px;
}










