.background-wrapper{
	min-height: 100vh;								/**/
/*	background-image: url(../north.jpg);
background-repeat: no-repeat;															
background-position: center;			
background-size: cover;								
background-size: contain;	*/				
				


background:url(../north.jpg) no-repeat right top, url(../north.jpg) no-repeat left bottom;

background-size: 200px auto , 200px auto;
background-color: #ccc;

background-attachment: fixed;


/*transition-proparty: background-color,;
transition-duration: 2s,;
transition-delay: ;
}*/

transition:background-color 2s 2s, font-size 5s ease;
display: flex;
flex-wrap: wrap;
/*align-items: center;*/
align-items: space-between;
align-content: center;
justify-content: center;
flex-direction: column;
}
	


.background-wrapper:hover {
	font-size:18px;
	background-color: #fff000;
	
}











.background-wrapper > div{
	border:1px solid red;
	width: 40%;
}
