*{
    font-size: 20px;
    padding: 2px;
}

.variantDiv{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 15px auto;
}
.quest{
    text-align: center;
    width: 50%;
    border: 3px outset steelblue;
    border-radius: 15px;
    background-color: lightblue;
    margin: 5px auto;
}
.variantDiv p {
    border: 3px outset steelblue;
    border-radius: 15px;
    background-color: lightblue;
    width: 20%;
    text-align: center;
}
button{
    display: block;
    margin: 10px auto 50px;
}
.started{
    background-color: gold;
}