*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 22px;
	color: blueviolet;
}

.login{
	width: 400px;
	margin: 50px auto; 
	box-shadow: 0 0 10px rgba(0, 0, 0, .5); 
	padding: 30px;
}

.title{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.custom-input{
	border: 0;
	background-color: transparent;
	padding: 8px 10px;
	width: 100%;
}
.custom-input:focus{
	outline: none;											/*Ֆիքսել*/
}
.custom-input::placeholder{								/*nayel*/
	color: rgba(0,0,0,.3);
}

.input-div{
	background-color: #ccc;
	margin-bottom: 20px;
}


.checkbox-container{
	display: block;
	width: 25px;
	height: 25px;
	border: 1px solid;
	text-align: center;
	
	cursor: pointer;										/*cursor*/
	
}
.simbol{
	opacity: 0;
}

.checkbox-item{
	display: none;									/*nayel*/
}

.checkbox-item:checked + .checkbox-container .simbol{
	opacity: 1;
}




textarea{
	
	resize: none;
}

