*{
    font-size: 25px;
    box-sizing: border-box;
}





@media (min-width:1200px){
    .section{
    background-color: steelblue;
    display: flex;
    height: 150px;
}

.section > div{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    padding: 30px;
    border: 0.5px solid;
    margin: 50px;
}
}

@media (max-width:1200px){
    .section{
        display: flex;
        flex-direction: column;
        background-color: steelblue;
        height: 750px;
        width: 200px;
    }
    
    .section > div{
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        text-align: center;
        padding: 30px;
        border: 0.5px solid;
        margin: 50px;
    }

.child1{
    order:2
}
.child2{
    order:4
}
.child3{
    order:1
}
.child4{
    order:3
}
} 











.block{
    border: 2px solid;
    width: 200px;
    height: 200px;
    margin: 20px;
}




main{
    display: flex;
}
                                    /*  */
.transition{
    background: seagreen;
    transition: background 1s
}

.transition:hover{
    background: crimson;
}







.animation{
    background: gold;                                                        /**/

    animation:background_change 5s 2s, zoom-in-out 5s 3s 3;
    animation-fill-mode: forwards none;
    /* animation-play-state: paused; */
}
.animation:hover{
    animation-play-state: running; 
}


@keyframes zoom-in-out{
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.5);
    }
}

@keyframes background_change {
    from{
        background:green
    }
    50%{
        background: orangered;
    }
    to{ 
        background:red
    }
}









.menu{
    display: flex;
    position: relative;
}

.menu > li{
    margin: 10px;
}

.sub-menu, .menu{
    list-style: none;
}
.sub-menu{
    background-color: red;
    display: none;
    position: absolute;
    z-index: 1;
}


.menu li:nth-of-type(3):hover .sub-menu{
    display: block;
}

