.header{
	background-color: tomato;
	padding: 10px;
	text-align: center;
	width: 1545px;
    border: 1px solid black;
    font-size: 22px;
}


.navigation{
	background-color: mediumseagreen;
	width: 250px;
	float: left;
	margin-top: 5px;
	height: 710px;
	text-align: center;
    border: 1px solid black;
    font-size: 22px;
}


.content{
	background-color: gold;
	text-align: center;
	height: 700px;
	width: 1300px;
	float: center;
	margin-left: 255px;
	margin-top: 5px;
	padding: 5px;
	border: 1px solid black;
	font-size: 22px;
}


.sidebar{
	background-color: steelblue;
	width: 250px;
	float: right;
	text-align: center;
	margin-top: 5px;
	height: 500px;
	border: 1px solid black;
	font-size: 22px;
	
}


.footer{
	background-color: DodgerBlue;
	border: 1px solid black;
	text-align: center;
	margin-top: 5px;
	padding: 10px;
	font-size: 22px;
}