*{
    box-sizing: border-box;
}

h2{
    background-color: lightseagreen;
    padding: 3px 5px;
    font-size: 25px;
    border: 5px outset seagreen
}

/* 1 */

.tesla{
    position: relative;
    width: 300px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}

.tesla > div{
    width: 10px;
    height: 10px;
    background-color: black;
    border: none;

    position: absolute;
    z-index: 1;
    transition:all 0.4s;
}


.left-top{
    top: 0;
    left: 0;
    opacity: 0;
}

.right-top{
    right: 0;
    top: 0;
    opacity: 0;
}

.left-bottom{
    left: 0;
    bottom: 0;
    opacity: 0;
}

.right-bottom{
    right: 0;
    bottom: 0;
    opacity: 0;
}



.tesla:hover > .left-bottom{
    height: 100%;
    opacity: 1;
}

.tesla:hover > .right-top{
    height: 100%;
    transition-delay: 0.8s;
    opacity: 1;
}

.tesla:hover > .left-top{
    width: 100%; 
    transition-delay: 0.3s;
    opacity: 1;
}

.tesla:hover > .right-bottom{
    width: 100%;
    transition-delay: 1.3s;
    opacity: 1;
}




/* 2 */  
.section{
    width: 300px;
    height: 75px; 
    /* border: 1px solid; */
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    margin: auto;
}
.spacex{
    color: steelblue
}


/* top */
.section > .top{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.top > div{
    background-color: steelblue;
    width: 10px;
    height: 10px;
    border: 0.2px solid;
    transition: all 1s;
}

.section:hover > .top > div{
    width: 50%;
}


        /* bottom */
.section > .bottom{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.bottom > div{
    background-color: steelblue;
    width: 10px;
    height: 10px;
    border: 0.2px solid;
    transition: all 1s;
}

.section:hover > .bottom > div{
    width: 50%;
}