*{
    margin: 0;
    padding: 0;
}
.menu > a{
    font-family: sans-serif;                            /**/
}
body{
    background: linear-gradient(180deg, #0C0F19 0%, #1E2335 100%);
}


/* Title */
.under{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex-grow: 1;
    padding: 1px;
    margin: 0 auto;
}
.line-1{
width: 105px;
height: 2px;
background: linear-gradient(90deg, #DAB662 0%, #1E2752 100%);
border-radius: 2px;
margin-right: 10px;
}
.line-2{
width: 105px;
height: 2px;
background: linear-gradient(90deg, #DAB662 0%, #1E2752 100%);
border-radius: 2px;
transform: matrix(-1, 0, 0, 1, 0, 0);
margin-left: 10px;
}
.title-text{
font-family: sans-serif;                                                             /**/
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 46px;
color: #FFFFFF;
text-align: center;
width: 300px;
margin: 0 auto;
text-transform: uppercase;
}

.container, .container-1, .container-2, .container-3, .container-4, .container-5, .container-6{               /*nayelu ban ka*/
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 2px 45px;                                  
}





a{
    text-decoration: none;
}
.menu > li a:hover{
    color: rgba(233, 200, 123, 0.8);
}



                                /* header */

.header{ 
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, #212852 0%, rgba(33, 40, 82, 0.31) 100%);
    box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.13);
    background-color: #191E2D;
    padding: 42px;
    box-sizing: border-box;
}
.logo{
    position: absolute;
    width: 82px;
    height: 88px;
    left: 120px;
    top: 16px;
}



.menu{
    display: flex;
    list-style: none;
    width: 650px;
    height: 36px;
    align-items: center; 
    justify-content: center;
    margin-left: 266px;
}
.menu > li a{
    margin: 0 25px;
    font-size: 18px;
    color: rgba(252, 232, 185, 0.8); 
    font-family: sans-serif;                                                                                /**/
}



                                   






                                                /* Slide */


.slide > img{
    width: 100%;
    height: auto;

}
.slide{
        position: relative;
}


.caption-slide{
    position: absolute;
    background: linear-gradient(90deg, rgba(33, 40, 82, 0.3)
     55.21%, rgba(33, 40, 82, 0) 100%);
     height: auto;
     width: 100%;
     top: 60%;
}
.start{
    font-family: sans-serif;                            /**/
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 69px;
    text-transform: uppercase;
    color: #DFB671;
    padding: 20px 0 10px;
}
.we-are{
    font-family: sans-serif;                              /**/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 0 0 10px;
}


.arrow-left{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    top: 45%;
    left: 2%;
    width: 50px;
    text-align: center;
    height: 50px;
}
.svg-1{
    margin-top: 15%;
}

.arrow-right{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    top: 45%;
    right: 2%;
    width: 50px;
    text-align: center;
    height: 50px;
}
.svg-2{
    margin-top: 15%;
}



.ellipses{
    position: absolute;
    display: flex;
    left: 47%;
    top: 975px;
    border: 3px solid red;
}
.ellipse{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 7px;
}
.ellipse:hover{
    background: #DFB671;
}





.background{
    position: absolute;
    background-image: url(../images/background.png);
    position: absolute;
    width: 100%;
    height: 795px;
    left: 0px;
    top: 1285px;
    z-index: -1;
}


                                                    /* Container-1 */
.container-1{
    display: flex;
    margin: 100px auto;                                                                   
    justify-content: space-around;
}




/* Title 1 */
.title-1{
    margin-top: 25px;
}




.history-text{
    width: 650px;
    height: 215px;
    font-family: sans-serif;                                                         /**/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #C0C2D3;
    margin-top: 40px;
} 


.footfig{
    width: 592px;
    height: 390px;
    background:linear-gradient(180deg, #292152
    41.12%, #D9B562 100%);
    border-radius: 5px;
}
.footfig > img{
    width: 582px;
    height: 380px;
    margin: 5px;
    border-radius: 5px;
}   






                                                        /* Container-2 */
/* Title 2 */
.title-2{
    margin-top: 125px;
}  

.container-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.papikyan-div{
    width: 389px;
    height: auto;
    margin: 30px 0 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    background:linear-gradient(180deg, #212852
    41.12%, #DAB662
    100%);
    padding: 2px;
    transition:all 0.3s;
    }
    .papikyan{
        box-sizing: border-box;
        background: #292F43;
        padding: 15px;
        border-radius: 5px;
    }
    .name{
    margin-top: 20px;
    font-family: sans-serif;                        /**/
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 23px;
    color: #C0C2D3;
    }
    .name-text{
    margin-top: 15px;
    font-family: sans-serif;                    /**/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #C0C2D3;
    }
    
    
    .papikyan-div:hover{
        margin: 10px 0 30px;
        cursor: pointer;
    }
    .papikyan-div:hover > figure > figcaption > p{
        color: #D9B562;
    }
    
    
    
    
    
    
    
    
.papikyan-div-2{
    width: 389px;
    height: auto;
    margin: 30px 0 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    background:linear-gradient(180deg, #212852
    41.12%, #DAB662
    100%);
    padding: 2px;
    transition:all 0.3s;
    }
    .papikyan-2{
        box-sizing: border-box;
        background: #292F43;
        padding: 15px;
        border-radius: 5px;
    }
    .papikyan-div-2:hover{
        margin: 10px 0 30px;        
        cursor: pointer;
    }
    .papikyan-div-2:hover > figure > figcaption > p{
        color: #D9B562;
    }
    
    
    
    
    
    
    .hrachya-div{
        width: 389px;
        height: auto;
        margin: 30px 0 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
        border-radius: 5px;
        background:linear-gradient(180deg, #212852
        41.12%, #DAB662
        100%);
        padding: 2px;
        transition:all 0.3s;
        }
        .hrachya{
            box-sizing: border-box;
            background: #292F43;
            padding: 15px;
            border-radius: 5px;
        }
        .hrachya-div:hover{
            margin: 10px 0 30px;
            cursor: pointer;
        }
        .hrachya-div:hover > figure > figcaption > p{
            color: #D9B562;
        }


        


                                                        /* Container-3 */
.container-3{
    margin-top: 100px;
    padding-bottom: 10px;
}
.title-3{
    margin-top: 15px;
}

        /* Vision Mision */
.text-v{
    width: 400px;
}

.vision-text{
    font-family: sans-serif;                                                              /**/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #C0C2D3;
    margin-top: 30px;
    text-align: justify;
}









                                                        /* Contacet Us */
.title-4{
    margin-top: 115px;
}



.container-4{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.text-put{
    width: 328px;
    height: 63px;
    font-family: sans-serif;                                            /**/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #C0C2D3;
    margin-bottom: -20px;
}




.join{
    display: block;
    background: #292F43;
    border: 1px solid #4C546D;
    border-radius: 5px;
    width: 450px;
    height: 50px;
    margin: 32px 0;
    color: #ABADBF;
    font-size: 18px;
}
.join::placeholder{
    padding: 0 16px 0;
    font-size: 14px;    
}
.join:focus{
    outline: none;
    
}



.area{
    height: 200px;
    resize: none;
}
.area::placeholder{                     /*webkit*/
    padding: 13px 16px 0;
    font-size: 16px;
}



.button{
    display: block;
    width: 145px;
    height: 45px;   
    background: #DAB662;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 32px auto;
    border: none;
}
.button:hover{
    cursor: pointer;
    background: rgb(183, 145, 56);
}


.map{
    display: block;
    width: 850px;
    height: 530px;
}




/* footer */
.footer{
    width: 100%;
    height: 273px;
    background: #282D3E;
    margin-top: 150px;
    padding-top: 40px;
}




.logos{
    width: 38px;
    height: 41px;
    display: block;
}
.eeh{
    width: 32px;
}
.col-div-1{
    border: 1px solid #3B4063;
    transform: rotate(90deg);
    width: 41px;
    height: 0px;
    margin: 20px -10px 0;
}
.footer-div-1{
    display: flex;
}






.container-5{
    display: flex;
    justify-content: space-between;
}



.contacts, .media{
    font-family: sans-serif;                                                            /**/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
tr, td{
    padding: 5px 10px 0 0;
}
th, .social-text{
    text-align: start;
    padding-bottom: 14px;
    text-transform: uppercase;
    font-family: sans-serif;                                                        /**/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}



.social > img{
    display: block;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}




.footer-line{
    background: #3C4257;
    height: 1px;
    margin-top: 50px;
}

.container-6{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.edn-line-row{
    background: #3C4257;
    transform: rotate(90deg);
    width: 1px;
    height: 27px;
}


.end-div{
    display: flex;
    justify-content: space-between;
    width: 370px;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;                                                        /**/
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
}




.text-end{
    color: #DFB671;
    font-family: sans-serif;                                                        /**/
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
}





.sas{
    box-sizing: border-box;
    background: transparent;
    border: 1px solid rgba(217, 181, 98, 0.4);   
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    position: fixed;
    bottom: 1%;
    left: 95%;
}








@media all and (max-width:767px){

.container, .container-1, .container-2, 
.container-3, .container-4, .container-5,
 .container-6{
    padding: 0;
}    

/* Header */
    .logo > img{
        position: absolute;
        width: 45px;
        height: 48px;
        left: -95px;
        top: 5px;
    }
    .menu{
        display: none;
    }
    .header{
        height: 80px;
    }

/* slide */




.arrows{
    display: none;
}

.caption-slide{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 60%;
}

.start{
    font-size: 25px;
    line-height: 10px;
}
.we-are{
    font-size: 10px;
    line-height: 11px;   
}

                                            .ellipses{
                                                display: none;
                                            }

/* container 1 */
.container-1, .container-2{
    flex-wrap: wrap;
}
.history-text{
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    height: 352px;
    margin-top: 25px;
}

.title-1{
    margin: -70px 0 0;
}

.footfig, .footfig > img{
    width: 100%;
    height: auto;
}
.footfig{
    margin-top: 100px;
}
.footfig > img{
    width: 98%;
    height: auto;
}


.background{
    display: none;
}




.title-2{
    margin-top: -50px;
}
.papikyan-div, .papikyan-div-2, .hrachya-div{
    width: 100%;    
    margin: 10px auto;
}

.papikyan, .papikyan-2, .hrachya{
    width: 100%;  
}
.papikyan > img, .papikyan-2 > img, .hrachya > img{
    width: 100%;
    height: auto;
}


.title-3{
    margin-top: -50px;
}
.text-v{
    width: 150px;
    height: 138px;  
}
.vision-text{
    font-size: 18px;
    line-height: 23px;
}



.title-4{
    margin-top: 50px;
}
.container-4{
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.map{
    margin-top: 40px;
    width: 100%;
    height: 638px;
}
.text-put{
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
    text-align: justify;
    width: 100%;
}

.join{
    width: 100%;
    height: 50px;
}
.area{
    height: 202px;
}
.button{
    width: 328px;
}




/* Footer */
.footer{
     height: auto;
     margin-top: 10px;
}
.container-5{
    flex-wrap: wrap;
}
.contacts, .media, .social-text{
    margin-top: 40px;
}

.footer > p{
    font-size: 14px;
}

.container-6{
    flex-wrap: wrap;
}
.end-div > p{
    font-size: 12px;
    width: auto;
    margin: 20px;
}
.end-div{
    width: 70%;
    justify-content: left
}
.text-end{
    font-size: 12px;
    margin: 5px 0 0 20px;
}


.sas{
    display: none;
}


}