*{
    font-size: 18px;
}
input{
    display: block;
    margin: 10px 0;
}
.nsDiv{
    border: 1px solid grey;
    width: 220px;
    line-height: 150%;
    padding: 2px;
    margin: 15px 0;
}
.nsDiv span {
    display: inline-block;
    margin: 5px;
    
}
.clickedbtn{
    background-color: lavender;
}